/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************** CSS ****************************************/



/********************************************** INDEX ****************************************/

body{
	/*background-color: #f1edec;*/
	background-color:#ece2dc;
/*	background-color: #FAF0E6 ;*/
}

#conteneur{
	width:1000px;
	height: auto;
	margin:auto;
/*	border : 1px solid black;*/
	background-color: white;
}

header{
	width:100%;
	background-color: white;
	padding-top: 5px;
	/*border : 1px solid black;*/
}

#logo{
	width : 600px;
	height: 100px;
	margin:30px auto;
	background-color: white;
/*	border : 1px solid black;*/

}

#imagelogo{
	margin: auto;
	/*border : 1px solid black;*/
	display:block;
	width:85px;
	height:85px;
	margin-left:auto;
	margin-right:auto;
}

h5{
	font-size: 1em;
	text-align: center;
	margin-top:3%;
	font-family: didot, serif;
}

nav{
	width: 75%;
	height: 25px;
	margin:7% auto;
	background-color: white;
	/*border : 1px solid black;*/
	padding: 10px;

}

ul{
	display:flex;
	/*border : 1px solid black;*/
}


li{
	font-size: 0.9em;
	letter-spacing: 0.1em;
/*	width: 100%;
	height: 20px;*/
	display:inline-block;
	background-color: white;
	/*border : 1px solid black;*/
	margin :3% auto;
	text-align: center;
	font-family: avenir, sans-serif;


}

#principale{
	width: 70%;
	height: 300px;
	display : flex;
/*	border : 1px solid black;*/
	margin: 20px auto;
	opacity: 100%;
}

.principaledsaa{
	width: 70%;
	height: 300px;
	display : flex;
/*	border : 1px solid black;*/
	margin: 20px auto;
	opacity: 100%;
	padding-bottom: 7%;
}

.dsaa{
/*margin-top: 1Opx;*/
/*border:1px solid red;*/
}


#bloc{
	width : 650px;
	height: 200px;
	margin: auto;
	background-color: black;
}

#secondaire{
	width: 80%;
	height: 300px;
	display : flex;
/*	border : 1px solid black;*/
	margin: auto;
}

article{
	width : 300px;
	height: 300px;
	display:inline-block;
	margin: auto;
	background-color: black;
	/*border : 3px solid black;*/
}

/*PROJETS PAGE INDEX*/

#movere_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#flv_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#npl_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#manifeste_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#diary_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#frat_index{
		width:300px;
	height:300px;
	opacity: 1;

}

#illus_index{
	width:300px;
	height:300px;
	opacity: 1;

}

#rapstage_index{
	width:300px;
	height:300px;
	opacity: 1;

}

#cdm_index{
	width:300px;
	height:300px;
	opacity: 1;

}

#projet1{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet1:hover{
	opacity: 0.6;
}

#projet2{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet2:hover{
	opacity: 0.6;
}

#projet3{
	width:650px;
	height:200px;
	opacity: 1;
}

#projet3:hover{
	opacity: 0.6;
}

#projet4{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet4:hover{
	opacity: 0.6;
}

#projet5{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet5:hover{
	opacity: 0.6;
}

#projet6{
	width:650px;
	height:200px;
	opacity: 1;
}

#projet6:hover{
	opacity: 0.6;
}

#projet7{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet7:hover{
	opacity: 0.6;
}


#projet8{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet8:hover{
	opacity: 0.6;
}

#projet9{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet9:hover{
	opacity: 0.6;
}

#projet10{
	width:650px;
	height:200px;
	opacity: 1;
}

#projet10:hover{
	opacity: 0.6;
}


#projet11{
	width:650px;
	height:200px;
	opacity: 1;
}

#projet11:hover{
	opacity: 0.6;
}

#projet12{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet12:hover{
	opacity: 0.6;
}

#projet13{
	width:300px;
	height:300px;
	opacity: 1;
}

#projet13:hover{
	opacity: 0.6;
}

footer{
	width : 100%;
	height: 50px;
	/*border: 1px solid black;*/
	margin:5% auto;

}

footer p{
	padding-top: 70px;
}


figcaption{
	display: none;
}

a{
	color : grey;
	text-decoration: none;
	opacity:1;

}

a:hover{
	opacity:0.6;
}


p{
	color:grey;
	text-align: center;
	font-family: avenir, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
}

#npl_num{
		width:300px;
	height:300px;
	opacity: 1;

}

#manifeste_num{
		width:300px;
	height:300px;
	opacity: 1;

}

#cdm_num{
		width:300px;
	height:300px;
	opacity: 1;
}

#frat_num{
		width:300px;
	height:300px;
	opacity: 1;

}






/*IMFORMATIONS - À PROPOS*/

#maphoto{
	vertical-align: center;
	margin-bottom: 5%;
}

#presentation{
	margin:auto;
	width:50%;
	text-align: center;
	/*border: 1px solid pink;*/
}

#formation{
	margin:10% auto;
	width:50%;
	text-align: center;
	/*border: 1px solid pink;*/
}

#competence{
	margin:10% auto;
	width:50%;
	text-align: center;
	/*border: 1px solid pink;*/
}

#partenariat{
	margin:10% auto;
	width:30%;
	text-align: center;
	/*border: 1px solid pink;*/
}

#pinfosp{
	text-align: center;
	line-height:1.2em;
	font-size: 0.9em;
	color:grey;
}

#pinfos{
	text-align: center;
	line-height:1.2em;
	font-size: 0.8em;
	color:grey;
}

h1{
	text-align: center;
	/*margin-top: 10px;*/
	font-family: avenir, sans-serif;
	font-size: 1.1em;
	line-height:1.2em;
}

h6{
	text-align: center;
	/*margin-top: 10px;*/
	font-family: avenir, sans-serif;
	font-size: 1em;
	line-height:1.8em;
}

h2{
	margin-top: 20px;
	font-family: avenir, sans-serif;
	font-size: 0.9em;
	line-height:1.2em;
}

h3{
	margin-top: 20px;
	font-family: avenir, sans-serif;
	font-size: 0.8em;
	line-height:1.2em;
}

h4{
/*	margin-top: 10px;*/
	font-family: avenir, sans-serif;
	font-size: 0.8em;
	line-height:1.2em;
}


/* PROJETS */

#titreprojets{
	font-family: avenir, sans-serif;
	font-size: 1.5em;
}

#boitetexte{
/*	border: 1px solid black;*/
	width:50%;
	margin:auto;
}

#boite{
	margin-top: 45px;
/*	border: 1px solid black;*/
}


.mySlides{
	width: 720px;
	height: 480px;
	margin:auto;
/*	border: 1px solid black*/
}

.imagescarousel{
	width:720px;
	height: 480px;
/*	border: 1px solid black*/
}

button{
	margin-top: 10px;
	margin-left:32%;
	background-color: black; 
  	color: white;
}


#texteprojets{
/*	border: 1px solid black;*/
	margin: auto;	
	text-align: center;
	line-height:1.2em;
	font-size: 0.9em;

}

#boite2{
	display: flex;
	background-color: white;
/*	border: 1px solid black;*/
	width:50%;
	margin:10% auto;
}

#projetprecedent{
	width:200px;
	height:50px;
	background-color: white;
}

#projetsuivant{
	width:200px;
	height:50px;
	background-color: white;
}


iframe{
	margin-left: 18%;
	margin-top: -10%;
}

/********************************************** NESKA PAPER LAB ****************************************/

#bodyneska{
	background-color:white;
}

#conteneurneska{		
		width:100%;
		height: auto;
}

#logoneska{
/*	border:1px solid red;*/
	margin : 5% auto;
	background-color:white;
	width:100%;
}

#logoneskaimg{
	display: block;
	margin-left:auto;
	margin-right:auto;
	/*border:1px solid pink;*/

}

#videoneskaimg{
	/*border:1px solid black;*/
	background-color:white;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10%;
}
